.header {
  background: #222;
  padding-top: 32px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__button {
  display: flex;
  height: 46px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: #F0F4F4;
  color: #222;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}